{% extends "base.html" %}

{% block content %}

<h1>📈 Attendance</h1>

<p>Check your subject-wise attendance.</p>

<div style="display:flex; gap:20px; flex-wrap:wrap;">

    <div class="card">
        <h2>☕ Java Programming</h2>
        <h3>85%</h3>
    </div>

    <div class="card">
        <h2>🌐 Web Technology</h2>
        <h3>90%</h3>
    </div>

    <div class="card">
        <h2>🔐 Cyber Security</h2>
        <h3>80%</h3>
    </div>

    <div class="card">
        <h2>🎬 Multimedia</h2>
        <h3>95%</h3>
    </div>

</div>

{% endblock %}
